html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 0;
    color: #495A4A;
}

section.content {
    flex: 1;
    padding: 20px;
    background-color: #D7D8C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper img {
    margin: 0 10px; /* Add some spacing between images */
    transform-style: preserve-3d;
}

.wrapper img:nth-child(2) {
    transform: scale(0.9);
}

.wrapper img:first-child {
    transform: perspective(1000px) rotateY(20deg);
}

.wrapper img:last-child {
    transform: perspective(1000px) rotateY(-20deg);
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #494924;
}

p {
    line-height: 1.5;
    color: #4E4E4E;
}

.more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4D5628;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.more:hover {
    background-color: #444;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
