@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
    background-color: #d3d4c8;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Times new roman';
    font-size: 20px;
    color: #495a4a;
}


h2 {
    margin-top: 5px;
    font-size: 3em;
    margin-bottom: 10px;
    color: #494924;
    font-family: 'Gupter medium';
}

p {
    font-family: 'gabriola';
    font-size: 23px;
    font-weight: 200;
    width: 920px;
    line-height: 1.6;
    color: #4E4E4E;
    padding: 5px;
    margin: 5px;
}

.more {
    width: 90px;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #4D5628;
    text-decoration: none;
    margin: 20px;
    box-shadow: #444 0px 0px 5px;
}

.more:hover {
    background-color: #444;
}

section.content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div2 {
    display: grid;
    grid-template-rows: 355px;
    grid-auto-flow: column;
    grid-gap: 10px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
}

.div1 {
    width: 95vw;
    overflow: hidden;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
}

.div1::after,
.div1::before {
    content: "";
    display: block;
    background-color: #d3d4c8;
    width: calc(100vw + 2 * 60px);
    height: 130px;
    position: absolute;
    border-radius: 50%;
    left: calc(-1 * 60px);
    right: calc(-1 * 60px);
}

.div1::before {
    top: calc(-0.6 * 120px);
}

.div1::after {
    bottom: calc(-0.6 * 120px);
}

.iclass {
    height: auto;
    width: 470px;
}